<h2>Position Info</h2>

<h4>Title</h4>
<%= @position.title %>
<br>
<h4>Location</h4>
<%= @position.location %>
<br>
<h4>Created at</h4>
<%= @position.created_at %>
<br>
<h4>Description</h4>
<%= @position.description %>
<br>
<h4>Url</h4>
<a href="#{@position.url}"><%= @position.url %></a>
<br>
<h4>Apply at</h4>
<a href="#{@position.how_to_apply}"><%= @position.how_to_apply %></a>
<br>

<br>
<%= link_to "Back to list", positions_path %>
<%# TODO: add company info%>