<div class="link-container">
    <%= link_to '🔙See all positions', positions_path %>
</div>

<div class='subtitle'>
    <%= @position.position_type %>
</div>
<div class="position-title">
    <p><%= @position.title.capitalize()%></p>
</div>

<div class="position-container">

    <p><strong>Company: </strong>
    <%= link_to @position.company.name, company_path(@position.company) %>
    </p>

    <p><strong>Location: </strong>
    <%= @position.location %>
    </p>
    <p><strong>Created at: </strong>
    <%= @position.created_at %>
    </p>
    <p><strong>Url: </strong>
    <a href="<%= @position.url %>"><%= @position.url %></a>
    </p>
    <p><strong>Apply at: </strong>
    <a href="<%= @position.how_to_apply %>"><%= @position.how_to_apply %></a>
    </p>
    <p><strong>Description</strong><br>
    <br>
    <%= @position.description %>
    </p>
   
    <%= button_to(
        "Apply to This Position", 
        {controller: :applications, action: :create, "application[position_id]" => @position.id}, 
        method: :post)
    %>
    <br>
</div>