<% if flash[:errors] %>
<ul>
    <% flash[:errors].each do |e| %>
        <li><%= e %></li>
    <% end %>
</ul>
<% end %>

<%= form_for @application do |f| %>

  <%= f.label :position %>
  <%= f.collection_select :position_id, @positions, :id, :title %>
  <br>
  <%= f.submit %>

<% end %>