<div class="link-container">
    <%= link_to '🔙See all companies', companies_path %>
</div>

<div class="position-title">
    <p><%= @company.name %></p>
</div>

<div class="company-container">
    <% if @company.company_logo %>
        <img class="show-img" src="<%= @company.company_logo %>" alt="Company logo">
    <% end %><br>
    
    <br>
    <% if @company.url %>
        <p><strong>URL: </strong><a href="<%= @company.url %>"><%= @company.url %></a></p>
    <% end %><br>


    <% if !@company.positions.empty? %>
        <p><strong>Positions: </strong></p><br>
        <% @company.positions.each do |p| %>
            <ul>
                <li><%= link_to p.title, position_path(p) %></li><br>
            </ul>
        <% end %>
    <% end %>

</div>


