<!DOCTYPE html>
<html>
  <head>
    <title>Mango Jobs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='banner'>
    <div id="navbar">
     <ul>
        <li><%= link_to 'Positions', positions_path %></li>
        <li><%= link_to 'Companies', companies_path %></li>
        <li><%= link_to 'New Application', new_application_path %></li>
        <li><%= link_to 'ðŸ”', new_application_path %></li>
        <% if @current_candidate %>
          <li class='right'>Hi, <%= @current_candidate.name %></li>
          <li class='right'><%= link_to "Log Out", sessions_path, method: :delete %></li>
        <% else %>
          <li class='right'><%= link_to 'Sign-up', new_candidate_path %></li>
          <li class='right'><%= link_to 'Sign-in', login_path %></li>
        <% end %>
      </ul>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
