<!DOCTYPE html>
<html>
  <head>
    <title>Mango Jobs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='banner'>
     <ul>
        <li><%= link_to 'Positions', positions_path %></li>
        <li><%= link_to 'Companies', companies_path %></li>
        <li><%= link_to 'New Application', new_application_path %></li>
        <li>
        <%= form_tag positions_path, method: "get" do |fb| %>
          <%= text_field_tag :query, params[:query] %>
          <%= submit_tag "ðŸ”" %>
        <% end %>
        </li>
        <% if @current_candidate %>
          <% m = "Hi, " + @current_candidate.name %>
          <li><%= link_to m, candidate_path(@current_candidate) %>
          <li><%= link_to "Log Out", sessions_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign-up', new_candidate_path %></li>
          <li><%= link_to 'Sign-in', login_path %></li>
        <% end %>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
